@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
main{
    background-color: #f9f9f9;
    

}
a {
  color: #848484;
}
.navegacao {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
.logo_header {
  padding: 1% 0 0 5%;
}
header{
  position: fixed;
  top: 0;
  overflow:hidden;
  width: 100%;
  
  background-color: #ffff;
}
.header_direita {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  font-weight: 500;
  font-size: 1.125rem;
}

.login {
  display: flex;
  justify-content: end;
  background-color: #cae5ff;
  padding: 0.5%;
  margin-right: 2%;
  border-radius: 5px;
}

.banner_home {
  width: 100%;
}
p{
  margin-bottom: 1rem;
}
.atendimento_oftalmo {
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.titulo_atendimento {
  font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  color: #003a66;
  margin: 1%;
}

.texto_atendimento {
  width: 40%;
}

.cards {
    margin: 1%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cards p {
  color: #8f92cb;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_whatsapp{
    display: flex;
    background-color: #FFFFFF;
    width: 70%;
    border-radius: 24px;
    margin-bottom: 5%;
}

.icone_card{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1%;
    margin:3%;
    background-color: #cae5ff;
    height: 1%;
    border-radius: 100%;
    
}

.icone_real{
    width: 50px;
}
.texto_card{
    display: flex;
    flex-direction: column;

}
/*FOOTER*/
.footer-main{
  width: 100%;
  height:80.5vh;
  background-color: #003967;

}
.footer-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-bottom: 1px solid rgb(51, 95, 152)
  
}
.fut{
  width: 20%;
  height: 35vh;
  

}
.footer-h4{
  color: #ffff;
  margin-bottom: 1%;
  font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 24px;
}
.p-fut{
  color: #FFF;
}

.footer-second{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}